{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "describe": true,
    "document": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": ["js", "ts", "tsx"]
      }
    }
  }
}
